.App{
  background-color:var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.me{
  height: 100%;
  background-color: #eee;
}
.menu1{
 width: 15%;
}
.menu2{
 width: 5%;
}

.main-deal1{
  width: 85%;
  background-color:red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.main-deal2{
  width: 95%;
  background-color:red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.ii{
 width: 70%;
 background-color:blue;
}
.pp{
width: 30%;
background-color:yellow;
}

