.nav-overall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-link1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: column;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    width: 95%;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.my-link2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #fff;
}



.con{
    color:black;
    padding-right: 10px;
}
.nav-menu1{
    width: 94%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.nav-menu2{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Men{
    color:black;
    font-size: 30px;
}